body {

    color: #fff;
    overflow-x: hidden;
    height: 100%;
    background-color: #CFD8DC;
    background-repeat: no-repeat;
}

.card {
    color: #fff;
    background-image: url('./pic23.jpg');
    background-size: 85% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    width: 86%;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 4px #9e9e9e;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (max-width:600px) {
    #city{
        font-size: 35px!important;
    }
    #weath{
        font-size: 35px!important;
    }
    #temp{
        font-size: 35px!important;
    }
    #time{
        font-size: 35px!important;
    }
    
}

.time-font {
    font-size: 50px;
}

.sm-font {
    font-size: 18px;
}

.med-font {
    font-size: 28px;
}

.large-font {
    font-size: 60px;
}
.fs-1 {
    font-size: 3.5rem!important;
}

 
